name: Publish MVR Verified Package

on:
    # Trigger on manual button click
    workflow_dispatch:

permissions:
    contents: write
    id-token: write
    actions: read

jobs:
    publish:
        # Sui MVR Provenance action (fork from https://github.com/zktx-io/sui-mvr-provenance)
        uses: DeeptradeProtocol/sui-mvr-provenance/.github/workflows/deploy_with_slsa3.yml@239e5fa9af3f1eb86cc8f23a7ef0cc43201a31db
        with:
            # Path to the folder containing your Move.toml
            working-directory: packages/deeptrade-core
        secrets:
            # Pass your deployer key into the action's expected secret name
            ED25519_PRIVATE_KEY: ${{ secrets.DEPLOYER_KEY }}
